/*
Theme Name:   CustomWebshop
Description:  Where You can buy Your Future
Author:       admin
Author URL:   Write here the author's blog or website url
Template:     storefront
Version:      1.0
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  CustomWebshop
*/

/* Write here your own personal stylesheet */



a.woocommerce-LoopProduct-link.woocommerce-loop-product__link > img {
	height: 220px;
  object-fit: contain;
}

.col-full {
	width: 1200px;
}

.woocommerce-product-gallery {
	width: 44% !important;
	}

.woocommerce-product-gallery .wp-post-image {
	width: 100%;
}

.woocommerce-product-gallery .flex-viewport {
	margin-bottom: 0!important;
}
.woocommerce-product-gallery .flex-control-thumbs li{
	width: 25% !important
}
.summary {
	width: 50% !important;
	background-color: #f7f7f7;
    padding: 20px 30px 30px;
    box-shadow: 2px 3px 6px rgba(0,0,0,.10), 0 3px 6px rgba(0,0,0,.13);
	}

.summary .product_title {
	margin-bottom: 10px;
}

.summary .price {
	width: 40%;
	display: inline-block;
	margin-top: 0 !important;
	margin-bottom: 20px !important;
	
}

.summary .price ins {
	display: block;
	font-weight: bold;
	font-size: 26px
}

.summary .price del {
	display: block;
	font-size: 16px
}

.summary .woocommerce-product-rating {
	width: 55%;
	display: inline-block;
	vertical-align: text-bottom;
}
.summary .woocommerce-product-rating .star-rating {
	margin-right: 2px !important;
}

.summary .stock {
	margin-bottom: 5px;
}

.single-product div.product form.cart .quantity {
	float: none;
	margin: 0;
	display: inline-block;
}
.single-product div.product form.cart .single_add_to_cart_button {
	margin-left: 20px;
}