
// MAIN STYLES //

#main {
	margin: 0;
}

#primary {
	margin: 0;
}
// HEADES STYLES // 

#masthead {
	margin-bottom: 0;
	padding-top: 10px;
	.site-branding {
		width: 55%;
		margin-bottom: 0;
	}
	.site-search {
		width: 40%;
		margin-bottom: 0;
		padding-top: 20px;
	}
}
#site-navigation  {
	#menu-main-menu {
			li:first-of-type {
			width: 50%;
		}
	}
	
}

a {
	transition: all .3s cubic-bezier(.25,.8,.25,1) !important;
	&:hover {
		text-decoration: none;
		transition: all .3s cubic-bezier(.25,.8,.25,1);
	}
}

a.added_to_cart {
	transition: all .3s cubic-bezier(.25,.8,.25,1);
    background-color: #fcbb00;
    color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    top: 20%;
    //opacity: 0;
  	animation-name: fadeOut;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

@keyframes fadeOut {
  0% { opacity: 0; top: 0; }
  50% { opacity: 0.5; top: 10%; }
  100% { opacity: 1; top: 20%; }
}


#page {
	.storefront-breadcrumb {
		margin-bottom: 0;
		background-color: #e6e2d7;
	}
}

#content {
	background-color: #e6e2d7;
}


// HERO STYLES //

#hero  {
	background-color: black;
	.category-list {
		box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
		padding: 20px 0;
		background-color: #fff;
	}
	.featured-product {
	    height: 300px;
    	background-color: black;
	}
}

// EXCELLENCE STYLES //

 #excellence {
 	background-color: #fff;
 	padding: 20px 0;
 	img {
 		width: 20%;
 		display: inline-block;
 		vertical-align: middle;
 	}
 	p {
 		width: 60%;
 		display: inline-block;
    	padding: 5px;
 	}
 }
// PRODUCT LISTS STYLES ON HOMEPAGE //

#sale-products,
#new-products,
#more-products {
	background-color: #e6e2d7;
	padding: 50px 0;
	.section-title {
		text-align: center;
	}
}

.row.products {
	text-align: center;
	justify-content: space-between;
	padding: 30px 0;
	.product-card {
		background-color: #fff;
		box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
		width: 23%;
		max-width: 23%;
		margin: 10px auto;
		.sale-perc {
			position: absolute;
		    top: 5%;
		    left: 0;
		    right: 0;
		}
		.product-title {
			color: black;
			font-weight: 600;
			font-size: 20px;
			transition: all .3s cubic-bezier(.25,.8,.25,1);
			&:hover {
				text-decoration: none;
				transition: all .3s cubic-bezier(.25,.8,.25,1);
				opacity: 0.6;
			}
		}
		.add-to-cart {
			.add_to_cart_button {
				color: #fff;
			background-color: #fcbb00;
			border-radius: 20px;
			}
			
		}
	}
}

// SHOP PAGE STYLES //
.post-type-archive-product,
.tax-product_cat {
	#content {
		.products {
			.product-card {
				width: 30%;
				max-width: 30%;
				text-align: center;
			}
		}
		.row {
			background-color: #e6e2d7;
		}
	}
}

.woocommerce-products-header {
	background-color: #e6e2d7;
}

.product-list-page-sidebar {
	.sidebar-box {
		box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
		padding: 20px 20px;
		margin: 10px 0;
		background-color: #fff;
		ul {
			margin-bottom: 0;
		}
	}
}



// SEPARATOR BANNER STYLES //

.section-separator-banner {
	height: 80px;
	background-color: black;
	padding: 100px 0;
}

.section-separator-banner.honey-quote {
	height: 80px;
	background-color: #fff;
	padding: 100px 0;
}

// SINGLE PRODUCT STYLES //

.single-product {
	#content {

		#primary {
			width: 100%;
			float: none;
			.onsale {
				position: absolute;
			    left: 10px;
			    top: 10px;
			    z-index: 1;
			}
		}
	}
	
}

// CART PAGE STYLES //

.cross-sells {
	width: 100% !important;
	.products {
		padding: 0;
		.product-card {
			width: 47% !important;
			max-width: 47% !important;
			flex: unset;
		}
	}
		
}


// CHECKOUT PAGE STYLES //

#customer_details {
	.col-1,
	.col-2 {
		width: 100%;
		max-width: 100%;
		flex: unset;
	}
}

// ACCOUNT PAGE STYLES //

.addresses {
	.col-1,
	.col-2 {
		width: 100%;
		max-width: 100%;
		flex: unset;
	}
}

// 404 PAGE STYLES //

.error-404 {
	.col-1,
	.col-2 {
		width: 100%;
		max-width: 100%;
		flex: unset;
	}
	.products {
		padding: 0;
		.product-card {
			width: 47% !important;
			max-width: 47% !important;
			flex: unset;
		}
	}
}