#main {
  margin: 0; }

#primary {
  margin: 0; }

#masthead {
  margin-bottom: 0;
  padding-top: 10px; }
  #masthead .site-branding {
    width: 55%;
    margin-bottom: 0; }
  #masthead .site-search {
    width: 40%;
    margin-bottom: 0;
    padding-top: 20px; }

#site-navigation #menu-main-menu li:first-of-type {
  width: 50%; }

a {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) !important; }
  a:hover {
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

a.added_to_cart {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #fcbb00;
  color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 20%;
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1; }

@keyframes fadeOut {
  0% {
    opacity: 0;
    top: 0; }
  50% {
    opacity: 0.5;
    top: 10%; }
  100% {
    opacity: 1;
    top: 20%; } }
#page .storefront-breadcrumb {
  margin-bottom: 0;
  background-color: #e6e2d7; }

#content {
  background-color: #e6e2d7; }

#hero {
  background-color: black; }
  #hero .category-list {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 20px 0;
    background-color: #fff; }
  #hero .featured-product {
    height: 300px;
    background-color: black; }

#excellence {
  background-color: #fff;
  padding: 20px 0; }
  #excellence img {
    width: 20%;
    display: inline-block;
    vertical-align: middle; }
  #excellence p {
    width: 60%;
    display: inline-block;
    padding: 5px; }

#sale-products,
#new-products,
#more-products {
  background-color: #e6e2d7;
  padding: 50px 0; }
  #sale-products .section-title,
  #new-products .section-title,
  #more-products .section-title {
    text-align: center; }

.row.products {
  text-align: center;
  justify-content: space-between;
  padding: 30px 0; }
  .row.products .product-card {
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    width: 23%;
    max-width: 23%;
    margin: 10px auto; }
    .row.products .product-card .sale-perc {
      position: absolute;
      top: 5%;
      left: 0;
      right: 0; }
    .row.products .product-card .product-title {
      color: black;
      font-weight: 600;
      font-size: 20px;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .row.products .product-card .product-title:hover {
        text-decoration: none;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        opacity: 0.6; }
    .row.products .product-card .add-to-cart .add_to_cart_button {
      color: #fff;
      background-color: #fcbb00;
      border-radius: 20px; }

.post-type-archive-product #content .products .product-card,
.tax-product_cat #content .products .product-card {
  width: 30%;
  max-width: 30%;
  text-align: center; }
.post-type-archive-product #content .row,
.tax-product_cat #content .row {
  background-color: #e6e2d7; }

.woocommerce-products-header {
  background-color: #e6e2d7; }

.product-list-page-sidebar .sidebar-box {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 20px 20px;
  margin: 10px 0;
  background-color: #fff; }
  .product-list-page-sidebar .sidebar-box ul {
    margin-bottom: 0; }

.section-separator-banner {
  height: 80px;
  background-color: black;
  padding: 100px 0; }

.section-separator-banner.honey-quote {
  height: 80px;
  background-color: #fff;
  padding: 100px 0; }

.single-product #content #primary {
  width: 100%;
  float: none; }
  .single-product #content #primary .onsale {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1; }

.cross-sells {
  width: 100% !important; }
  .cross-sells .products {
    padding: 0; }
    .cross-sells .products .product-card {
      width: 47% !important;
      max-width: 47% !important;
      flex: unset; }

#customer_details .col-1,
#customer_details .col-2 {
  width: 100%;
  max-width: 100%;
  flex: unset; }

.addresses .col-1,
.addresses .col-2 {
  width: 100%;
  max-width: 100%;
  flex: unset; }

.error-404 .col-1,
.error-404 .col-2 {
  width: 100%;
  max-width: 100%;
  flex: unset; }
.error-404 .products {
  padding: 0; }
  .error-404 .products .product-card {
    width: 47% !important;
    max-width: 47% !important;
    flex: unset; }

/*# sourceMappingURL=style.css.map */
